body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  /*font-family: Georgia, Times, serif;*/
  color: #D00;
}


.container {
  text-align: center;
  margin: auto;
  width: 95%;
  margin-top: 2em;
  padding: 2em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
}


@media (min-width: 54.25em) {
  .container {
    max-width: 30em;
  }
}

.find {
  color: black;
}

.button {
  margin: 1em;
  margin-top: 2em;
  display: inline-block;

}

.button a:link, a:visited {
  padding: .75em;
  background-color: #DDD;
  text-decoration: none;
  border: 1px solid black;
  color: black;
}

.button a:hover {
  background-color: #ffff11;

}

.go {
  background-color: #DDD;
  border: 1px solid black;
  padding: .75em;
  color: black;
  cursor: pointer;
  /*border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;*/

}

.go:hover {
  background-color: #00e600;

}
