<!DOCTYPE html>
<html>
<head>
  <title>HalpMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


  <body>
    <%= yield %>
    <div class="find container">
      <h1> ICE Location Finder </h1>
      <p>Please allow us to access your location by clicking "yes" on the browser pop-up.</p>
      <div id="button-get-position" class="button go" onclick="geoFindMe()">Get My Location</div>
      <div class="button"><a href="javascript:window.location.href=window.location.href">Ask Me Again</a></div>

      <h2>Your Current Location:</h2>
      <div id="out" class="current-location"></div>

    </div>

  </body>


</html>
